@import "./scss/reset";
@import "./scss/variables";

body {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1504643292995-3a60b7d1cf2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  .weather-main {
    margin-top: 1rem;
    background-color: rgba(0, 255, 255, 0.438);
    border-radius: 1rem;
    padding: 0.5rem 0;
    li {
      display: flex;
      flex-direction: column;
      color: white;
      background-color: rgb(0, 75, 187);
      margin: 0.5rem 0.5rem;
      border-radius: 2rem;
      padding: 0.5rem;
    }
    img {
      backdrop-filter: blur(9px);
      border-radius: 50%;
    }
  }
}
